/* ================================ */
/* == CSS For Index (Home) Page == */
/* ============================== */

* {
  box-sizing: border-box;
  font-family: "MS Gothic", "MS PGothic", msgothic, sans-serif;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(190, 190, 190);
}

::selection {
  color: black;
  background-color: white;
}

.mainwrapper {
  max-width: 860px;
  margin: auto;
}

div.header02 {
  width: 438px;
  height: 155px; /* ALWAYS 155! Keep consistency. */
  margin: 5px auto;
}

footer {
  text-align: center;
  margin: 20px auto;
}

div.banner {
  max-width: 100%;
  width: 860px;
  height: 25px;
  margin: 3px auto;
  background-color: white;
}

#bannertype {
  color: black;
  font-weight: bold;
  margin-top: 3px;
}

/* ================================= */
/* == Main Columns (Side & Main) == */
/* ================================= */

div.sideframe {
  width: 175px;
  height: 500px !important;
  border: 1px solid white;
  overflow-y: auto !important;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

div.mainframe {
  width: 510px;
  height: 500px !important;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: scroll !important;
}

div.sidecontent {
  width: auto;
  margin: 10px;
}

div.maincontent {
  width: auto;
  margin: 10px;
}

/* ============================ */
/* == Specific Content Areas == */
/* ============================ */

.changelog {
  width: 150px;
  height: 200px;
  border: 1px solid white;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto 10px auto;
}

.favibox {
  width: 11px;
  height: 11px;
}

/* ============================== */
/* == Typography & ID Styles == */
/* ============================== */

h2,
h3 {
  margin: 10px 0;
  text-align: center;
}

p {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

#h3navmargins {
  margin-bottom: -5px;
}

#h3rightmargins {
  margin-bottom: 10px;
}

#hleading {
  line-height: 18px;
}

#paragraphstyling {
  text-align: center;
  line-height: 13px;
  margin: 15px;
}

#paragraphstyling2 {
  text-align: left;
  line-height: 13px;
  margin: 15px;
}

#deadlinkstyling {
  color: gray;
  margin-top: -15px;
}

#changelogparagraphstyling p {
  text-align: left;
  line-height: 1.4;
  margin: 9px;
}

#leftalign {
  text-align: left;
}

/* =================== */
/* == Scrollbar Styles == */
/* =================== */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
  border: 1px solid #333;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}
