{
 box-sizing: border-box; 
 font-family: 'ms ui gothic';
 color: white;
}


@font-face {
    font-family: 'ms ui gothic';
}


.default {
  cursor: crosshair;
  /*
  cursor: url('D:\personal work\neocities\theme01\images\cursor_plain_01.png');
  */
}


a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}


a:visited{
  color: rgb(255, 255, 255);
}

a:hover{
  color:rgb(190, 190, 190)
}

hr{
    color:rgb(57, 57, 57);
}

::selection{
    color: black;
    background-color: white;
}



.header{
  padding: 100px;
  
  }


.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.flex-container > div {
  border: 10px black;
  
}

/*scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 32)26, 26, 26)5; 
}